/* Estilo principal do modal */
.modal {
    width: 80%;
    max-width: 700px;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    position: relative;
    border-radius: 5px;
    z-index: 99;
    padding: 60px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}

.modal strong {
    font-size: 17px;
}

.modal i {
    font-size: 15px;
}

/* Botão para fechar o modal */
.close {
    position: absolute;
    top: 30px;
    right: 30px;
    color: red;
    font-size: 25px;
    transition: transform 0.5s ease;
}

.close:hover {
    transform: scale(1.1);
}

/* Estilo para inputs desabilitados no formulário */
.form-Edit input[disabled] {
    cursor: not-allowed;
}

.photo-Modal{
    width: 200px;
    height: 150px;
}


@media screen and (max-width: 700px) {
    .modal{
        width: 95%;
        padding: 80px 20px;
     
    }

    .close {
        left: 10px ;
        font-size: 28px;
    }

    input{
    }
}

@media screen and (max-width: 500px) {}
